<main class="selection:bg-blue-500 selection:text-white">
  <section class="min-h-[50vh] hero_bgImage flex justify-center items-center px-[20vw]"
           style="background: linear-gradient(rgba(96, 165, 250, 0.8), rgba(129, 140, 248, 0.8)), url('<%= asset_path "heroImage.jpg" %>');  background-blend-mode: normal;  background-position: center;">
    <h3 class="p-0 m-0 text-2xl font-semibold text-center text-white sm:text-4xl">
      Find a free place for your child in the kindergarten of your choosing!
    </h3>
  </section>
  <section class="px-[20vw] py-8 flex flex-col gap-4 text-left align-center">
    <h3 class="text-2xl font-semibold text-center text-blue-400 md:text-left sm:text-4xl rounded-md">
      About us
    </h3>
    <hr class="border-2 border-blue-400 rounded-md">
    <p class="text-base font-light tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <p class="text-base font-light tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <p class="text-base font-light tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <hr class="border-2 border-blue-400 rounded-md">
  </section>
  <section class="px-[20vw] py-12 flex flex-col gap-4 text-left align-center text-white bg-gradient-to-r from-blue-400 to-blue-600">
    <h3 class="text-2xl font-semibold text-center sm:text-4xl rounded-md">
      FAQ
    </h3>
    <hr class="m-0 border-1 border-whiterounded-md">
    <div class="flex flex-row justify-between">
      <p>First FAQ</p>
      <div class="cursor-pointer">
        <span class="material-symbols-rounded">
          arrow_drop_down_circle
        </span>  
      </div>       
    </div>
    <p class="hidden text-base font-normal tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <hr class="m-0 border-1 border-whiterounded-md">
    <div class="flex flex-row justify-between">
      <p>Second FAQ</p>
      <div class="cursor-pointer">
        <span class="material-symbols-rounded">
          arrow_drop_down_circle
        </span>  
      </div>       
    </div>
    <p class="hidden text-base font-normal tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <hr class="m-0 border-1 border-whiterounded-md">
    <div class="flex flex-row justify-between">
      <p>Third FAQ</p>
      <div class="cursor-pointer">
        <span class="material-symbols-rounded">
          arrow_drop_down_circle
        </span>  
      </div>       
    </div>
    <p class="hidden text-base font-normal tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <hr class="m-0 border-white border-1 rounded-md">
    <div class="flex flex-row justify-between">
      <p>
        Fourth FAQ
      </p>
      <div class="cursor-pointer">
        <span class="material-symbols-rounded">
          arrow_drop_down_circle
        </span>  
      </div>    
    </div>
    <p class="hidden text-base font-normal tracking-wide">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at facilisis enim. Nam pretium, ante at aliquam mollis, 
        mauris ex volutpat elit, vitae ornare urna felis a ex. Duis posuere blandit neque, et aliquam sapien. Mauris placerat 
        accumsan leo, et posuere sem consequat in. Nam dictum vestibulum mauris sit amet gravida. Proin sagittis semper tincidunt. 
        Duis nunc libero, iaculis lacinia urna quis, eleifend interdum risus. Duis est turpis, vulputate sit amet odio id, finibus lacinia justo. 
    </p>
    <hr class="m-0 border-white border-1 rounded-md">
  </section>
  <section class="flex flex-col items-center px-[5vw] py-8 md:px-[20vw] md:py-16 text-blue-400 bg-gray-600 text-xl md:text-left">
    <h3 class="text-2xl font-semibold text-center text-blue-400 md:text-left sm:text-4xl rounded-md md:mb-4">
      Fill up the form with required information
    </h3>
    <%= form_with(model: @select_form, url:"/selection") do |f| %>
      <div class="flex flex-col items-center my-8">
        <div class="mr-4 text-white">
          <%= f.label :name, placeholder: "Name" , class: "text-base"%>
        </div>
        <div>
          <%= f.text_field :name , :required => 'required', class: "bg-white text-blue-500 rounded-md p-4 max-w-[50vw] md:max-w-[30vw] text-sm"  %>
        </div>				
      </div>
      <div class="flex flex-col items-center my-8">
        <div class="mr-4 text-white">
          <%= f.label :email , class: "text-base"%>
        </div>
        <div>
          <%= f.email_field :email , :required => 'required' , class: "bg-white text-blue-500 rounded-md p-4 max-w-[50vw] md:max-w-[30vw] text-sm" %>
        </div>				
      </div>
      <div class="flex flex-col items-center my-8">
        <div class="mr-4 text-white">
          <%= f.label :select_kindergarten , class: "text-base"%>
        </div>
        <div class="text-blue-500 bg-white rounded-md p-4 max-w-[50vw] md:max-w-[30vw] overflow-hidden text-sm">
          <%= f.select "kindergarten_selection", options_for_select([ "Option 1", "Option 2", "Option 3", "Option 4", "Option 5", "Name of the kindergarten, Adress" ], "Option 1"), :required => 'required' %>
        </div>				
      </div>
      <div class="flex flex-row justify-center">
        <button class="px-5 py-3 text-white bg-blue-400 hover:text-blue-400 hover:bg-white rounded-md">
          <%= f.submit :Send %>
        </button>
      </div>
    <% end %>
  </section>
  <section class="px-[20vw] py-12 flex flex-col gap-4 text-left align-center">
    <h3 class="text-2xl font-semibold text-center text-blue-400 md:text-left sm:text-4xl rounded-md">
      Contact us
    </h3>
    <hr class="border-blue-400 border-1 rounded-md">
  </section>
</main>
