<div class="lg:h-full flex w-full">
  <div class="mt-10 lg:mt-auto container m-auto">
    <div class="lg:flex flex-row justify-between ">
      <div class="lg:w-1/2 p-3 lg:p-5">
        <h1 class="mb-4">
          <div class="text-5xl sm:text-6xl leading-none font-extrabold tracking-tight">
            <span>Razmeni mesto</span><br>
            <span class="text-indigo-400">za vrtić online</span>
          </div>
        </h1>
        <p class="sm:text-xl leading-7 font-normal">
          Ova platforma omogućava roditeljima u Novom Sadu da se povežu i razmene mesta u vrtiću preko online platforme. To znači da roditelji koji traže mesto u vrtiću mogu pronaći druge roditelje koji su zainteresovani za razmenu mesta sa svojom decom.
          Klikom na Prijavi se, prihvatate uslove korišćenja aplikacije.
        </p>
      </div>
      <div class="m-auto">
        <div class="w-full m-auto text-black sm:p-5 lg:py-3 xl:py-5">
          <div class="flex flex-col items-center bg-white sm:rounded-lg p-4">
            <div class="w-full lg:w-96 m-auto">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="mb-2">
                    <%= f.label :email, 'Prijava', class: 'leading-5 font-medium' %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full h-8 mt-1 py-5 px-4 border border-gray-300 rounded-md focus:outline-none', placeholder: 'Email' %>
                  </div>

                  <div class="my-2">
                    <%= f.password_field :password, autocomplete: "new-password", class: "w-full h-8 mt-1 py-5 px-4 border border-gray-300 rounded-md focus:outline-none", placeholder: 'Lozinka' %>
                  </div>
                  <div class="flex justify-between my-4">
                    <% if devise_mapping.rememberable? %>
                    <div>
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me, "Zapamti", class: 'text-sm' %>
                    </div>
                  <% end %>
                    <div>
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to "Zaboravili ste lozinku?", new_password_path(resource_name), class: 'text-sm text-indigo-600 hover:text-indigo-400' %><br />
                      <% end %>
                    </div>
                  </div>
                  <div class="mb-6">
                    <%= f.submit "Prijavi se", class: 'w-full h-8 pb-8 pt-3 bg-indigo-600 hover:bg-blue-500 border border-gray-300 rounded-md text-white text-sm leading-5 font-medium focus:outline-none' %>
                    <%= %>
                  </div>
          
                  <hr class=" w-full border border-gray-300">
              <% end %>
              <div class="my-2">
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Registrujte se da biste kreirali nalog", new_registration_path(resource_name), class: "text-sm text-indigo-600 hover:text-indigo-400" %><br />
                <% end %>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>