<!DOCTYPE html>
<html>
  <head>
    <title>KindergartenExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="position: fixed max-w-[100%] w-max flex-col top-5rem right-[50%] translate-x-[50%] items-center gap-5rem px-0 py-4 ">
      <%= render "layouts/flash" %>
    </div>
    <%= link_to "Root", root_path %>
    <%= link_to 'Contact',  contact_path, class: '' %>
    <% if current_user.present? %>
    
      <span data-test="current-user-email"><%= current_user.email %></span>
        <%= link_to "Admin Dashboard", admin_dashboard_path if current_user.is_admin? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class: "d-inline" %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
