<!DOCTYPE html>
<html class="h-full m-auto">
  <head>
    <title>KindergartenExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-800 text-white h-screen w-full flex-col"> 
    <nav class="container fixed left-1/2 transform -translate-x-1/2 t-0 px-2 lg:px-5 py-2">
      <%= render partial: 'layouts/nav' %>
    </nav>

    
    <p data-test="notice" class="notice"><%= notice %></p>
    <p data-test="alert" class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
