<!DOCTYPE html>
<html>
  <head>
    <title>KindergartenExchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p data-test="notice" class="notice"><%= notice %></p>
    <p data-test="alert" class="alert"><%= alert %></p>
    <%= link_to "Root", root_path %>
    <% if current_user.present? %>
      <span data-test="current-user-email"><%= current_user.email %></span>
        <%= link_to "Admin Dashboard", admin_dashboard_path if current_user.admin? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class: "d-inline" %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
